<div class="ride-create form container grey lighten-5">
    <div class="row">
        <div class="col s12 m6 offset-m3 l8 offset-l2 center-align">
            <h2>Create a ride</h2>
            <h3>What is your trip going to look like?</h3>
        </div>
        <form class="col s12 m6 offset-m3 l8 offset-l2" method="POST" action="/ride/create">
            <div class="row">
                <div class="input-field">
                    <i class="material-icons prefix">date_range</i>
                    {{#if ride}}
                    <input type="text" class="datepicker" id="date" name="date" value="{{formatDate ride.timestamp}}"> 
                    {{else}}
                    <input type="text" class="datepicker" id="date" name="date"> 
                    {{/if}}
                    <label for="date">Date</label>
                </div>
            </div>

            <div class="row">
                <div class="input-field">
                    <i class="material-icons prefix">access_time</i>
                    {{#if ride}}
                    <input type="text" class="timepicker" id="time" name="time" value="{{formatTime ride.timestamp}}">
                    {{else}}
                    <input type="text" class="timepicker" id="time" name="time">
                    {{/if}}
                    <label for="time">Time</label>
                </div>
            </div>

            <div class="row">
                <div class="input-field">
                    <i class="material-icons prefix">person_pin</i>
                    {{#if ride}}
                    <input type="text" class="validate" id="origin" name="origin" value="{{ride.source}}">
                    {{else}}
                    <input type="text" class="validate" id="origin" name="origin">
                    {{/if}}
                    <label for="origin">Choose your origin</label>                    
                </div>
            </div>

            <div class="row">
                <div class="input-field">
                    <i class="material-icons prefix">pin_drop</i>
                    {{#if ride}}
                    <input type="text" class="validate" id="destination" name="destination" value="{{ride.destination}}">
                    {{else}}
                    <input type="text" class="validate" id="destination" name="destination">
                    {{/if}}
                    <label for="destination">Destination</label>
                </div>
            </div>

            <div class="row">
                <div class="input-field inline">
                    <i class="material-icons prefix">directions_car</i>
                    {{#if ride}}
                    <input type="text" class="validate" id="carModel" name="carModel" value="{{ride.carModel}}">
                    {{else}}
                    <input type="text" class="validate" id="carModel" name="carModel">
                    {{/if}}
                    <label for="carModel">Car Model</label>
                </div>
                <div class="input-field inline">
                    <i class="material-icons prefix">airline_seat_recline_normal</i>
                    {{#if ride}}
                    <input type="number" class="validate" id="carNumSeats" name="carNumSeats" value="{{ride.numSeats}}">
                    {{else}}
                    <input type="number" class="validate" id="carNumSeats" name="carNumSeats">
                    {{/if}}
                    <label for="carNumSeats">Available Passenger Seats</label>
                </div>
            </div>

            <div class="row">
                <div class="input-field">
                    <i class="material-icons prefix">textsms</i>
                    <textarea class="materialize-textarea" id="rideDescription" name="rideDescription">{{#if ride}}{{ride.description}}{{/if}}</textarea>
                    <label for="rideDescription">Details about your ride</label>
                </div>
            </div>

            {{!-- TODO: validate currency input format --}}
            <div class="row">
                <div class="input-field">
                    <i class="material-icons prefix">attach_money</i>
                    {{#if ride}}
                    <input type="number" class="validate" step="0.01" id="price" name="price" value="{{ride.price}}">
                    {{else}}
                    <input type="number" class="validate" step="0.01" id="price" name="price">
                    {{/if}}
                    <label for="price">Price per seat</label>
                </div>
            </div>

            <button class="right button waves-effect waves-light btn-large deep-purple accent-2 white-text" type="submit" name="action">{{actionText}}
                <i class="material-icons right">send</i>
            </button>
        </form>
    </div>
</div>

{{!-- TODO: move JS for date picker and time picker to external stylesheet for reuse --}}
<script>
    // TODO: fix date format
    $('.datepicker').pickadate({
        selectMonths: true,
        selectYears: 15,
        today: 'Today',
        clear: 'Clear',
        close: 'Ok',
        closeOnSelect: false
    });

    // TODO: fix time format
    $('.timepicker').pickatime({
        default: 'now',
        fromnow: 0,
        donetext: 'OK',
        cleartext: 'Clear',
        canceltext: 'Cancel',
        autoclose: false,
        ampmclickable: true
    });

    $(document).ready(function () {
        $('select').material_select();
    });
</script>