<div class="ride-create form container">
    <div class="row">
        <div class="col s12 m6 offset-m3 l8 offset-l2 center-align">
            <h2>{{titleText}}</h2>
            <h3>What is your trip going to look like?</h3>
        </div>
        <form id="rideForm" class="col s12 m6 offset-m3 l8 offset-l2" method="POST" action="{{actionEndpoint}}">
            <div class="row">
                <div class="input-field">
                    <i class="material-icons prefix">date_range</i>
                    {{#if ride}}
                    <input type="text" class="datepicker" id="date" name="date" value="{{formatDate ride.timestamp}}">
                    {{else}}
                    <input type="text" class="datepicker" id="date" name="date">
                    {{/if}}
                    <label for="date">Date</label>
                </div>
            </div>

            <div class="row">
                <div class="input-field">
                    <i class="material-icons prefix">access_time</i>
                    {{#if ride}}
                    <input type="text" class="timepicker" id="time" name="time" value="{{formatTime ride.timestamp}}">
                    {{else}}
                    <input type="text" class="timepicker" id="time" name="time">
                    {{/if}}
                    <label for="time">Time</label>
                </div>
            </div>

            <div class="row">
                <div class="input-field">
                    <i class="material-icons prefix">person_pin</i>
                    {{#if ride}}
                    <select name="origin" id="origin" name="origin" value="{{ride.origin}}" required>
          						<option value="">Choose your origin</option>
          						<option value="UCLA">UCLA</option>
          						<option value="San Diego">San Diego</option>
          						<option value="Santa Barbara">Santa Barbara</option>
          						<option value="Irvine">Irvine</option>
          						<option value="San Francisco">San Francisco</option>
          						<option value="Riverside">Riverside</option>
          						<option value="SLO">SLO</option>
          					</select>
                    {{else}}
                    <select name="origin" id="origin" name="origin" required>
                      <option value="">Choose your origin</option>
                      <option value="UCLA">UCLA</option>
                      <option value="San Diego">San Diego</option>
                      <option value="Santa Barbara">Santa Barbara</option>
                      <option value="Irvine">Irvine</option>
                      <option value="San Francisco">San Francisco</option>
                      <option value="Riverside">Riverside</option>
                      <option value="SLO">SLO</option>
                    </select>
                    {{/if}}
                    <label for="origin">Choose your origin</label>
                </div>
            </div>

            <div class="row">
                <div class="input-field">
                    <i class="material-icons prefix">pin_drop</i>
                    {{#if ride}}
                    <select name="destination" id="destination" name="destination" value="{{ride.destination}}" required>
                      <option value="">Choose your origin</option>
          						<option value="UCLA">UCLA</option>
          						<option value="San Diego">San Diego</option>
          						<option value="Santa Barbara">Santa Barbara</option>
          						<option value="Irvine">Irvine</option>
          						<option value="San Francisco">San Francisco</option>
          						<option value="Riverside">Riverside</option>
          						<option value="SLO">SLO</option>
          					</select>
                    {{else}}
                    <select name="destination" id="destination" name="destination" required>
                      <option value="">Choose your origin</option>
                      <option value="UCLA">UCLA</option>
                      <option value="San Diego">San Diego</option>
                      <option value="Santa Barbara">Santa Barbara</option>
                      <option value="Irvine">Irvine</option>
                      <option value="San Francisco">San Francisco</option>
                      <option value="Riverside">Riverside</option>
                      <option value="SLO">SLO</option>
                    </select>
                    {{/if}}
                    <label for="destination">Destination</label>
                </div>
            </div>

            <div class="row">
                <div class="input-field inline">
                    <i class="material-icons prefix">directions_car</i>
                    {{#if ride}}
                    <input type="text" id="carModel" name="carModel" value="{{ride.carModel}}" required>
                    {{else}}
                    <input type="text" id="carModel" name="carModel" required>
                    {{/if}}
                    <label for="carModel">Car Model</label>
                </div>
                <div class="input-field inline">
                    <i class="material-icons prefix">airline_seat_recline_normal</i>
                    {{#if ride}}
                    <input type="number" id="carNumSeats" name="carNumSeats" value="{{ride.numSeats}}" required>
                    {{else}}
                    <input type="number" id="carNumSeats" name="carNumSeats" required>
                    {{/if}}
                    <label for="carNumSeats">Available Passenger Seats</label>
                </div>
            </div>

            <div class="row">
                <div class="input-field">
                    <i class="material-icons prefix">textsms</i>
                    <textarea class="materialize-textarea" id="rideDescription" name="rideDescription">{{#if ride}}{{ride.description}}{{/if}}</textarea>
                    <label for="rideDescription">Details about your ride</label>
                </div>
            </div>

            {{!-- TODO: validate currency input format --}}
            <div class="row">
                <div class="input-field">
                    <i class="material-icons prefix">attach_money</i>
                    {{#if ride}}
                    <input type="number" step="0.01" id="price" name="price" value="{{ride.price}}" min="0.00" required>
                    {{else}}
                    <input type="number" step="0.01" id="price" name="price" min="0.00" required>
                    {{/if}}
                    <label for="price">Price per seat</label>
                </div>
            </div>

            <button class="right button waves-effect waves-light btn-large deep-purple accent-2 white-text" type="submit" name="action">{{actionText}}
                <i class="material-icons right">send</i>
            </button>
        </form>
    </div>
</div>

{{!-- TODO: move JS for date picker and time picker to external stylesheet for reuse --}}
<script>
    // TODO: fix date format
    $('.datepicker').pickadate({
        selectMonths: true,
        selectYears: 15,
        today: 'Today',
        clear: 'Clear',
        close: 'Ok',
        closeOnSelect: false
    });

    // TODO: fix time format
    $('.timepicker').pickatime({
        default: 'now',
        fromnow: 0,
        donetext: 'OK',
        cleartext: 'Clear',
        canceltext: 'Cancel',
        autoclose: false,
        ampmclickable: true
    });

    $( "#rideForm" ).submit(function( event ) {
      if($("#date").val() == ""){
        alert("Please provide a date!");
        event.preventDefault();
      }
      else if($("#time").val() == ""){
        alert("Please provide a time!");
        event.preventDefault();
      }
    });

    $(document).ready(function () {
        $('select').material_select();
    });
</script>
