{{!-- TODO fix blue link colors --}}
<a href="/ride/{{this.id}}">
    <div class="col s12 m6">
        <div class="card horizontal dash-card-dim">
            <div class="card-stacked">
                <div class="card-content">
                    <p class="black-text"><b>{{formatDate this.timestamp}}</b></p>
                    <span class="card-title deep-purple-text" style="font-size:35px; padding-top:10px">
                        <strong>{{this.source}}</strong><span class="black-text"> to </span><strong>{{this.destination}}</strong>
                    </span>
                    <div class="black-text price">
                        <b>${{this.price}}</b>
                    </div>
                    <div class="black-text activator more">
                        <i class="material-icons right">more_vert</i>
                    </div>
                </div>
            </div>
        </div>
    </div>
</a>