<div class="col s12 m6">
    <div class="card">
        <div class="card-content">
            <span class="card-title activator grey-text text-darken-4">
                {{formatDateMMDDYYYY this.date}}
                <i class="material-icons prefix right">info</i>
            </span>

            <p><i class="material-icons prefix">person_pin</i>{{this.source}}</p>
            <p><i class="material-icons prefix">pin_drop</i>{{this.destination}}</p>
            <p><i class="material-icons prefix">attach_money</i>{{this.price}}</p>
        </div>
        <div class="card-reveal">
            <span class="card-title grey-text text-darken-4">
                <i class="material-icons right">person</i>
                {{this.driver}}
            </span>
            <p>Ride details here!</p>
        </div>
    </div>
</div>